.spacer{
    flex: 1 1 auto;
}
mat-toolbar{
    position: sticky;
    bottom: 0;
    z-index: 2;
    gap: .5rem;
}
a{
    display: flex;
    align-items: start;
    text-decoration: none;
    font-size: 1rem;
    gap: .2rem;
    color: var(--bright-blue);
}