@if (list.length){
<table>
    <thead>
        <tr>
            @for (heading of getKeys(list[0]); track $index){
            <th>{{heading}}</th> }
        </tr>
    </thead>
    <tbody>
        @for (item of list; track item.login.uuid){
        <tr>
            @for(value of getValues(item); track $index){ 
            <td>{{typeof value=="object"? (value | json) :value}}</td> }
            <td>
                <button>Eliminar</button>
                <button>Ver</button>
            </td>
        </tr> }
    </tbody>
</table> }